@using ModelsAndRepository;
@using ModelsAndRepository.Repositories;
@using PagedList.Mvc;
@using TestMVC.Models;

@model  TestMVC.Models.ProductsViewModel

@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts { 
    @Styles.Render("~/Content/Views/HomeProducts.css")
    @Scripts.Render("~/Scripts/ViewModels/HomeProducts.js")
    @Scripts.Render("~/Scripts/select2.min.js")
    @Scripts.Render("~/Scripts/jquery-ui-1.11.4.min.js")
}


<div>
    <div id ="left-container" class="inline-block">
        <div class="filter">            
            <select id="category-filter" multiple="multiple">
                @foreach (var item in Model.Categories)
                {
                    <option value="@item.vid1">@item.vid1</option>
                }
            </select>

            <p>
                <label for="amount">Price range:</label>
                <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
            </p>
            <div id="price-slider"></div>

            <button id="filter-submit" type="button" class="btn btn-primary">Filter</button>
        </div>
    </div>
    <div id="right-container"class="inline-block">
        <div class="filter-container">

        </div>
        <div id="items-container">
            @foreach (var item in Model.Products)
            {
                <div class="item-container text-center">
                    <div><h5>@item.Artikul1</h5></div>
                    <img class="item-container-img" src="~/Content/Images/book.svg" />
                    <p>@item.Vid</p>
                    <p>@item.defprice лв.</p>
                    <p>
                        <a>Details</a>
                    </p>
                </div>
            }
        </div>
        <div class="paging">
            <div class="text-center">
                Page @(Model.Products.PageCount < Model.Products.PageNumber ? 0 : Model.Products.PageNumber) of @Model.Products.PageCount
            </div>
            <div class="text-center">
                @Html.PagedListPager(Model.Products, page => Url.Action("Products", new { page }))
            </div>
        </div>
    </div>    
 </div>

